$dark-grey: #2B2D42;
$grey: #8D99AE;
$light-grey: #EDF2F4;
$dark-red: #7F1028;
$light-red: #AD646D;
$white: #FFFFFF;

$helvetica: 'helvetica', 'arial', 'sans-serif';
$font-weight-bold: 700;
$font-size-xxs: 14px;
$font-size-xs: 16px;
$font-size-s: 18px;
$font-size-m: 20px;
$font-size-ml: 22px;
$font-size-l: 30px;
$font-size-xl: 38px;

$breakpoint-m: 768px;
$breakpoint-l: 1024px;
$breakpoint-xl: 1200px;
